<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.5.9.10348" />
  <package id="NUnit.Should" version="1.0.2.0" />
  <package id="Requestor" version="1.0.2.2" />
  <package id="Mara" version="1.0.0.3" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="Model.IsValid" version="0.1.0.0" />
  <package id="FactoryMan" version="0.1.0.0" />
</packages>